.Home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 1fr;
  grid-template-areas:
    "information"
    "repos";
}

.information {
  grid-area: information;
}
.repos {
  grid-area: repos;
}

.Profile {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    " img bio"
    " img bio"
    "name bio";
  margin: 40px 70px 40px 70px;
}

.img {
  grid-area: img;
}
.bio {
  grid-area: bio;
}

.name {
  grid-area: name;
}
