.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
  grid-template-areas: "container_l container_r";
}
.container_l {
  grid-area: conatainer_l;
}

.container-r {
  grid-area: conatainer_r;
}

.conatainer_l {
  align-self: center;
  text-transform: uppercase;
  margin-left: 15px;
}

.conatainer_r {
  justify-self: end;
  margin-right: 20px;
  align-self: center;
}
.conatainer_r_ul1 {
  margin-right: 20px;
  text-decoration: yellow;
}
